/* nav {
    background-color: slateblue;
    text-align: center;
  }

  nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
  }

  nav a.active {
    color: rgb(200, 26, 26);
    text-decoration: none;
  }

  nav a:hover {
    color: red;
    text-decoration: none;
  } */

  /* a[aria-current="page"] {
    color: red;
  } */